@{
    ViewData["Title"] = "Home Page";
}

@model BankAccounts.Models.LoginViewModel


<h1>BankDojo</h1>

<form asp-controller="Home" asp-action="Login" method="POST" id="login">
    <label asp-for="Email"></label>
    <input asp-for="Email">

    <label asp-for="Password"></label>
    <input asp-for="Password">

    <input type="submit" value="Login" class="button">
</form>

<a href="/register">Not a member yet? Register now!</a>